:root {
    /* TEXT */
    --color: aliceblue;

    /* BG */
    --bg_dark: #000
}

html, body {
    background-color: var(--bg_dark);
    color: var(--color);
    width: 100%;
    height: 10000px;
    overflow-x: hidden;
    margin: 0px;
    user-select: none;
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 2px;
    scroll-behavior: smooth !important;
}
  
  
  
::selection {background-color: rgba(89, 52, 115, 0.45);}
*::-webkit-scrollbar {width: 8px;height: 5px;}
*::-webkit-scrollbar-track {background: #f0f0f000;}
*::-webkit-scrollbar-thumb {background: rgba(103, 103, 103, 0.15);border-radius: 2px;}
*::-webkit-scrollbar-thumb:hover {background: rgba(103, 103, 103, 0.3);}
* {outline: none;}
  
  
  
  
  
  
  